<div class='footer'>
  <div class='footer-contents'>
    <div class='dodo-details'>
      <h2 class='footer-content-head'>dodoについて</h2>
      <ul>
        <li><%= link_to '製作者', "#", class: "footer-link" %></li>
        <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
        <li><%= link_to 'dodo利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'dodoガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
        <li><%= link_to 'よくある質問', "#",class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</div>